<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Statistics</title>
</head>
<body>
<div align="center">
    <h2>Statistics</h2>
    <span>First Name:</span><span th:text="${playerData.firstName}"></span><br/>
    <span>Last Name:</span><span th:text="${playerData.lastName}"></span><br/>
    <span>Season1:</span><span th:text="${playerData.season1}"></span><br/>
    <span>Season2:</span><span th:text="${playerData.season2}"></span><br/>
    <span>Result:</span><pre th:text="${playerData.result}"></pre><br/>

</div>
</body>
</html>